<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <style>
      #banner{
        height: 360px;
        width : 100%;
      }  
    </style>
    
    <title > Careers</title>
  </head>

  <body>
    <div class="container" >
    <h1 class="text-center mt-2 mb-4">Careers</h1>
    <img class="img-fluid" id="banner" src="https://completeflaskwebapp.omkarjadhav10.repl.co/static/career_banner.jpg"  >
    <h2 class="text-center mt-2 mb-4">About </h2>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna               aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat         cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>  
      
      <p >
        {% for job in jobs_to_show %}
          {% include "jobitem.html" %}
        {% endfor %}
      </p>  

      
      <div class="text-center" >
        <button class="btn btn-primary btn-lg" >Contact US</button>
        <p class="mt-4">Copyright 2023,ANyone</p>
      </div>
    
    </div>

  </body>


</html>